.header-menu-container .ui.inverted.menu {
    border-radius: 0rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.header-menu-container .header.item a.item {
    
}